node_modules
.env
package-lock.json
uploads/**
public/**
.vscode
.eslintcache
.DS_Store
.eslintcache
docker
**src/app/modules/swagger/output/swagger_output.json
**dist
**.env
**node_modules
**npm-debug.log
**.vscode
**.husky
